altgraph==0.16.1
future==0.17.1
macholib==1.11
marshmallow==3.6.0
numpy==1.16.3
pandas==1.0.4
pefile==2018.8.8
pyinstaller==3.4
pytz==2019.3
six==1.14.0
requests
immutables
git+https://github.com/ONSdigital/spp-logger.git@334a394580aaeef001a89bc9a48a748b0859cfe6